<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IEEE-CS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/countDown.css">
</head>
<body>
    <header>
        <a href="http://www.ieeecsvit.com/" class="logo"><img src="images/IEEE-CS_New.png" alt="logo"></a>
    </header>
    <section>
        <img src="images/curve.png" alt="bg" class="wave">
        <div class="contentBx">
            <h2>Coming Soon ...</h2>
            <p> Website for <strong>IEEE-CS</strong> first year <strong>Core Committee Selection </strong> is about to launch !!<br>
                Stay Tuned for further updates and keep checking our social media handles.    
            </p>
            <div class="countdown">
                <div class="time"><div id="day"></div><span>Days</span></div> 
                <div class="time"><div id="hour"></div><span>Hours</span></div> 
                <div class="time"><div id="minute"></div><span>Minutes</span></div> 
                <div class="time"><div id="second"></div><span>Seconds</span></div> 
            </div>
        </div>
        <div class="imgBx">
            <img src="images/man.png" alt="man">
        </div>
        <ul class="sci">
            <li><a href="https://www.facebook.com/ieeecsvit/"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="https://www.instagram.com/ieeecs_vit/?hl=en"><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
    </section>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script type="text/javascript" src='scripts/countDown.js'></script>
</body>
</html>