<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .swal-button {
          background-color: #faa41a !important;
        }
        #swal2-title
        {
          color: #333 !important;
        }
      </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel='shortcut icon' type='images/png' href='/images/new/fav_main.png'>
    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GRGZ3Y3N82"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-GRGZ3Y3N82');
    </script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'yellow_ieee': '#FAA41A',
                        'gradient1': '#EFCA53',
                        'gradient2': '#EFEFEF',
                        'gradbutton': '#FAA41A',
                        'gradbutton2': '#EFCA53',
                        'footercol': '#E5E6E5',
                        'grey': '#d1d5db'
                    },
                    dropShadow: {
                        'navShadow': '8px 10px 62px -5px rgba(255,255,255,0.61)',
                    }
                },
                fontFamily: {
                    'sans': ['Roboto', 'Helvetica', 'Arial', 'sans-serif'],
                    'montserrat': ['Montserrat'],
                    'lato': ['Lato'],
                    'garamond': ['Garamond'],
                    'gudea': ['sans-serif'],
                    'quat': ['sans-serif']
                },
                screens: {
                    'sm': '640px',
                    'md': '768px',
                    'lg': '1024px',
                    'xl': '1280px',
                    '2xl': '1536px',
                    'nav': '992px'
                }
            }
        }
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/homeStyle.css">
    <title>IEEE Computer Society || CCS</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gudea&family=Montserrat:wght@100&family=Quattrocento+Sans&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Gudea&family=Montserrat:wght@100&family=Quattrocento+Sans&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/4a2410e994.js" crossorigin="anonymous"></script>
</head>

<body class="bg-black" style="background-image: url(/images/new/bg_svg1.svg);background-size: cover; background-position: center; background-repeat: repeat-y;">
    <!-- navigation-->
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-black object-right-top select-none">
        <div class="container-fluid  select-none">
            <div class="parentdiv flex flex-row w-full nav:w-2/3 lg:w-full justify-between">
                <div class="headlogo select-none w-2/5 sm:w-1/5 flex justify-center items-center my-auto">
                    <img src="/images/new/ieeecsnew.png" ondragstart="return false" class="w-44">
                </div>
                <div class="btn flex justify-center nav:hidden items-center">
                    <button class="navbar-toggler focus:outline-none" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                        <i class="fas fa-bars text-yellow_ieee" ></i>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse nav:justify-end nav:w-1/4 " id="navbarCollapse">
                <ul class="navbar-nav flex items-center justify-start nav:justify-end w-full nav:w-auto">
                    <li class="nav-item px-1 lg:px-0">
                        <a class="nav-link mx-0 xl:mx-2 " href="/auth/google" target="_blank">
                            <button class="bg-gradient-to-r from-gradbutton to-gradbutton2 hover:bg-yellow text-black px-6 rounded-full hidden nav:block text-sm font-semibold nav:py-1 xl:py-2 focus:outline-none">
                                Login
                            </button>
                        </a>
                    </li>
                    <!-- Twitter icon hrefs -->
                    <a class="nav-link flex justify-center w-full m-auto items-center nav:p-0 nav:m-0" href="https://twitter.com/ieeecsvit?lang=en" target="_blank">
                        <li class="nav-item px-1 w-full nav:w-3/4 lg:w-1/2 flex flex-row justify-start nav:justify-center xl:w-1/2">
                            <div class="parentlink flex flex-row items-center justify-start nav:justify-center w-3/4 sm:w-1/2 md:w-3/5 nav:w-full">
                                <div class="flex items-center justify-center w-1/12 nav:w-full lg:justify-center">
                                    <i class="fab fa-twitter w-full" style="color: #FAA41A; width:25px; height:25px;"></i>
                                </div>
                                <div class="flex flex-row justify-center items-center w-auto px-4 nav:hidden">
                                    <p class="text-yellow_ieee text-sm w-full block nav:hidden">
                                        <u>@ieeecsvit</u>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </a>

                    <!-- LinkedIn hrefs -->
                    <a class="nav-link flex justify-center w-full nav:w-1/3 m-auto items-center" href="https://www.linkedin.com/company/ieee-cs-vit/mycompany/" target="_blank">
                        <li class="nav-item px-1 w-full nav:w-2/3 lg:w-1/2 flex flex-row justify-start nav:justify-center">
                            <div class="parentlink flex flex-row items-center justify-start nav:justify-center w-3/4 sm:w-1/2 md:w-3/5 nav:w-full">
                                <div class="flex items-center justify-center w-1/12 nav:w-full lg:justify-center">
                                    <i class="fab fa-linkedin w-full" style="color: #FAA41A; width: 25px; height: 25px;"></i>
                                </div>
                                <div class="flex flex-row justify-center items-center w-auto px-4 nav:hidden">
                                    <p class="text-yellow_ieee text-sm w-full block nav:hidden"><u>@ieee-cs-vit</u></p>
                                </div>
                            </div>
                        </li>
                    </a>

                    <!-- Instagram hrefs -->
                    <a class="nav-link flex justify-center w-full nav:w-1/3 m-auto items-center" href="https://www.instagram.com/ieeecs_vit/?hl=en" target="_blank">
                        <li class="nav-item px-1 w-full nav:w-2/3 lg:w-1/2 flex flex-row justify-start nav:justify-center">
                            <div class="parentlink flex flex-row items-center justify-start nav:justify-center w-3/4 sm:w-1/2 md:w-3/5 nav:w-full">
                                <div class="flex items-center justify-center w-1/12 nav:w-full lg:justify-center">
                                    <i class="fab fa-instagram w-full" style="color: #FAA41A; width: 25px; height: 25px;"></i>
                                </div>
                                <div class=" flex flex-row justify-center items-center w-auto px-4 nav:hidden">
                                    <p class="text-yellow_ieee text-sm w-full block nav:hidden "><u>@ieeecs_vit</u></p>
                                </div>
                            </div>
                        </li>
                    </a>

                    <!-- Facebook hrefs -->
                    <a class="nav-link flex justify-start nav:justify-center w-full nav:w-1/3  m-auto items-center" href="https://www.facebook.com/ieeecsvit/" target="_blank">
                        <li class="nav-item px-1 w-full nav:w-2/3 lg:w-1/2 flex flex-row justify-start nav:justify-center">
                            <div class="parentlink flex flex-row items-center justify-start nav:justify-center w-3/4 sm:w-1/2 md:w-3/5 nav:w-full">
                                <div class="flex items-center justify-center w-1/12 nav:w-full lg:justify-center">
                                    <i class="fab fa-facebook w-full" style="color: #FAA41A; width: 25px; height: 25px;"></i>
                                </div>
                                <div class=" flex flex-row justify-center items-center w-auto px-4 nav:hidden">
                                    <p class="text-yellow_ieee text-sm w-full block nav:hidden "><u>ieeecsvit</u></p>
                                </div>
                            </div>
                        </li>
                    </a>

                    <li class="w-full nav:w-2/5 block nav:hidden m-auto justify-start nav:justify-center">
                        <a class="nav-link flex justify-start nav:justify-center w-full" href="#" target="_blank">
                            <div class="parent flex flex-row justify-center items-center">
                                <div class="btn px-0.5 sm:px-2">
                                    <a class="nav-link mx-0 xl:mx-2 " href="/auth/google" target="_blank">
                                        <button class=" bg-gradient-to-r from-gradbutton to-gradbutton2 hover:bg-yellow text-black text-sm px-6 rounded-full focus:outline-none">
                                            Login
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--section1 heading alternative-->
    <div class="">
        <div class="">
            <div class="">
                <h2 class="hello my-4 xl:text-5xl lg:text-4xl md:text-3xl sm:text-2xl text-xl text-center text-white tracking-wider py-3 select-none" style="font-family: 'Quattrocento Sans', sans-serif">welcome to the <span class="text-center text-amber-300">recruitment portal</span> of</h2>
            </div>
            <div class="">
                <h3 class="text-center xl:text-7xl lg:text-6xl md:text-5xl sm:text-4xl text-3xl text-yellow_ieee pb-3 select-none" style="font-family: 'Montserrat', sans-serif; font-weight: normal bold;">IEEE COMPUTER SOCIETY-VIT
                </h3>
            </div>
        </div>
        <div class="">
            <h4 class="text-center text-transparent xl:text-5xl lg:text-4xl md:text-3xl sm:text-2xl text-xl bg-clip-text bg-gradient-to-r from-gradient1 to-gradient2 py-5 select-none" style="font-family: 'Quattrocento Sans', sans-serif"><b>Want to join our team?</b></h4>
        </div>
    </div>

    <!--three domain section-->
    <div class="w-full">
        <div class="flex flex-wrap justify-center w-full">
            <div class="px-6 text-center w-1/3 md:w-1/4 xl:w-1/5">
                <img src="/images/new/Group 8.png" bg-none ondragstart="return false" style="margin: auto;" justify="center" class="">
                <h3 class="text-yellow_ieee pb-5 pt-2 text-xs sm:text-lg lg:text-2xl" style="font-family: 'Montserrat', sans-serif;letter-spacing: 0.02em;">TECHNICAL</h3>
            </div>
            <div class="px-6 text-center w-1/3 md:w-1/4 xl:w-1/5">
                <img src="/images/new/Group 9.png" ondragstart="return false" style="margin: auto;" class="">
                <h3 class="text-yellow_ieee pb-5 pt-2 text-xs sm:text-lg lg:text-2xl" style="font-family: 'Montserrat', sans-serif;letter-spacing: 0.02em;">COMPETITIVE</h3>
            </div>
            <div class="px-6 text-center w-1/3 md:w-1/4 xl:w-1/5">
                <img src="/images/new/Group 10.png" ondragstart="return false" style="margin: auto;" class="">
                <h3 class="text-yellow_ieee pb-5 pt-2 text-xs sm:text-lg lg:text-2xl" style="font-family: 'Montserrat', sans-serif;letter-spacing: 0.02em;">DESIGN</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid">
            <div class="text-center">
                <a href="/auth/google">
                    <button id="button"
                        class="bg-gradient-to-r from-gradbutton to-gradbutton2 hover:bg-yellow 
                        text-black font-bold text-lg sm:texl-sm md:text-2xl lg:text-3xl py-2 sm:py-4 md:py-6 md:w-1/5 sm:w-3/12 w-1/2 rounded-full focus:outline-none "
                        style="font-family: 'Quattrocento Sans';font-weight: bold;"> Register Now
                    </button>
                </a>
            </div>
    </div>
    <!--SECOND PARA-->
    <div class="about container-fluid padding">
        <div class="md:flex  justify-around text-justify pb-9 pt-6">
            <div class="md:w-2/4 select-none">
                <h2 class="pt-3 text-3xl text-yellow_ieee font-sans pb-3 xl:ml-36 lg:ml-36 md:ml-24 sm:ml-12" style="font-family: 'Quattrocento Sans', sans-serif; font-weight: bold;">About us</h2>
                <p class="text-white font-sans pb-2 xl:ml-36 lg:ml-32 md:ml-24 sm:ml-12 pb-8" style="font-family: 'Quattrocento Sans', sans-serif;letter-spacing: 0.02em;">IEEE Computer Society, VIT, is an eminent Student Branch belonging to the Madras Section of IEEE Region 10. Formed in the February of 2012, we aim to solve the modern-day problems by understanding and harnessing cutting-edge technologies.
                </p>
                <p class="text-white xl:ml-36 lg:ml-32 md:ml-24 sm:ml-12 pb-8" style="font-family: 'Quattrocento Sans', sans-serif; letter-spacing: 0.02em;">Internationally recognized as the symbol of technical expertise and professionalism, IEEE Computer Society has been a home to all inquisitive minds out there, encouraging, motivating, and shaping them to face present-day challenges, and
                    conquer the same.</p>
            </div>
            <div class="flex sm:flex-nowrap md:w-2/5 select-none justify-around" style=" margin: auto">
                <div class="md:px-4 w-1/4 md:w-auto">
                    <img src="/images/new/Group 11.png" ondragstart="return false" class="">
                    <h3 class="text-white text-center width=100% pb-3 pt-3">Hackathon Winners</h3>
                </div>
                <div class="md:px-4 w-1/4 md:w-auto">
                    <img class="" src="/images/new/Group 12.png" ondragstart="return false" class="comp">
                    <h3 class="text-white text-center pb-3 pt-3">Merwin Scholars</h3>
                </div>
                <div class="md:px-4 w-1/4 md:w-auto">
                    <img class="" src="/images/new/Group 13.png" ondragstart="return false" class="des">
                    <h3 class="text-white text-center pb-3 pt-3">Best Chapter Awards</h3>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--FOOTER-->
    <footer class="text-black bg-footercol w-full">
        <div class="wrapper flex justify-around object-fit: cover; w-full select-none select-none">
            <div class="py-2 border-t-2 border-black lg:w-4/12 md:w-3/12 w-2/12 my-8"></div>
            <div class="font-montserrat text-center pt-6">IEEE Computer Society</br>VIT Chapter</div>
            <div class="py-2 border-t-2 border-black lg:w-4/12 md:w-3/12 w-2/12 my-8"></div>
        </div>

        <h4 class="font-montserrat text-center pt-0.07">
            </h3>
            <div class=" text-center flex justify-around items-center select-none">
                <div class="px-4 w-0 hidden md:block md:w-2/5 nav:w-96 nav:p-0 select-none">
                    <img class="pl-14 py-2 left: 3px" src="/images/new/ieeecs2.png" ondragstart="return false">
                </div>
                <div class="px-4 py-2 font-montserrat text-center md:w-1/4 w-full nav:w-1/3">
                    <h3 class="underline decoration-yellow_ieee text-center">Contact us</h3>
                    <p>ieeecs@vit.ac.in</p>
                    <p>+91 8114468591</p>
                </div>
                <div class="px-4 py-2 font-montserrat text-center w-2/12 md:w-3/12 lg-4/12 nav:w-1/2 w-0 hidden md:block">
                    <p class="text-justify w-5/6">
                        We, here at IEEECS, nurture the coders and leaders of tomorrow. We empower and support new ideas giving them a platform to shine. IEEECS has been a home to great ideas capable of bringing a better future for all.
                    </p>
                </div>
            </div>
            <div class=" w-2/5 block md:hidden m-auto">
                <img class="" src="/images/new/ieeecs2.png" ondragstart="return false">
            </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log("<%=message%>")
        if ("<%=message%>") {
            swal.fire({
            title: "Note:",
            text: "<%= message %>",
            icon: "error",
            button: "Ok",
          });
        }
    </script>
</body>

</html>

</html>

</html>