<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/instructions.css">
    <link rel="icon" href="images/logoicon.png" />
    <title>Instructions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body class="colour1">
    <a href="/logout"><img src="images/exit.png" alt="logo3" class="logo4" /></a>
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col12 top">
                <img src="images/ieeecs.png" alt="logo" class="logo" />
            </div>
        </div>
        <div class="col s5 s12 m12 15 sect2">
            <div class="colour2">
                <h4 class="form-heading"> Instructions to the candidate</h4>
                <p>
                <ol>
                    <li> Select the domains in which you are interested. You will be given <b>10 minutes</b> for each domain
                        you select, to complete the test. Once you select your domains, the test will begin and <span style="color: red !important; font-weight: bold;">you
                        will NOT be able to pause the test in between.</span>
                    </li>
                    <li>
                        There are two types of MCQ questions: Single Correct and Multi Correct questions. 
                        The Single Correct questions have radio buttons(circle) and the Multi Correct(square) questions have check boxes, 
                        and should be identified by the shape of the boxes beside the options.
                    </li>
                    <li>In case of issues, reloading the page will NOT affect the test, the test will only be auto-submitted if the timer runs out.</strong>
                    </li>
                    <li>For all those interested in competitive coding, <span style="font-weight: bold;">you will receive a test link on your
                            registered E-mail ID</span>.
                    </li>
                    <li>There is <span style="font-weight: bold;">NO</span> cutoff score. This test is to only judge your existing skillset and expertise, and will not be the sole factor in your selection process.</li>
                    <li>Your answers will be recorded and evaluated. Depending on the evaluations we will shortlist and
                        call the selected students for the second round of recruitment.
                    </li>
                </ol>
                </p>
                <p style="text-align: center;"><em>Good Luck, and May The Force Be With You!</em></p>
                <div class="container" style="text-align: center;">
                    <a href="/domain">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Begin
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>