<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Aditya Menon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IEEECS | Selections</title>
    <link rel="stylesheet" href="/stylesheets/register.css" />
    <link rel="icon" type="image/png" href="images/logoicon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/scripts/script.js"></script>
    <style>
      ul {
        list-style-type: none;
      }
      .container{
        width: 100%!important;
      }
      li {
        padding: 4px;
        color: #ffffff;
        float: left;
      }
      .warning{
        margin:10px auto;
        padding: 0;
        color: rgb(201, 30, 30);
        text-align: center;
      }
    </style>
  </head>

  <body onload="check();">
    <div class="row" style="text-align: center">
      <img src="images/ieeecsnew.png" id="mainlogo" , alt="IEECS-Logo" />
    </div>
    <h2 class="Lheading">Core Committee Selections</h2>
    <br />
    <div class="container" id="phone" style="text-align: center">
      <div class="row">
        <div class="phone_reg">
          <h2 class="Sheading">Register</h2>
          <form
            autocomplete="off"
            method="POST"
            name="reg_form"
            onsubmit="return formValidate();"
          >
            <input
              autocomplete="false"
              name="hidden"
              type="text"
              style="display: none"
            />
            <input
              autocomplete="false"
              name="hidden"
              type="text"
              style="display: none"
            />
            <input
              name="name"
              placeholder="Name"
              type="text"
              autocomplete="off"
              required
            />
            <input
              name="regno"
              placeholder="Reg. No."
              type="text"
              autocomplete="off"
              required
            />
            <!-- // <input
            //   name="email"
            //   placeholder="Email"
            //   type="text"
            //   autocomplete="off"
            //   required
            // /> -->
            <!-- <input
              id="pwd-reg-2"
              name="Password"
              placeholder="Password"
              type="Password"
              autocomplete="off"
              required
              title="Minimum 8 characters. Must contain a Special character, a
                          Digit and Upper & Lowercase letters."
            />
            <input
              id="pwd-reg-repeat-2"
              type="password"
              placeholder="Confirm Password"
            /> -->
            <input
              name="phone"
              placeholder="Phone Number"
              type="tel"
              autocomplete="off"
              title="Use 10 Digit Mobile Number"
              required
            />
            <input
              type="text"
              for="g-recaptcha-response"
              class="g-recaptcha-response"
              name="g-recaptcha-response"
              style="display: none"
            />
            <ul>
              <li style="margin-left: -1.5%;">
                <input
                  type="radio"
                  name="gender"
                  value="male"
                  class="gender"
                  style="width: unset; float: left"
                  checked
                />
              </li>
              <li style="margin-left: -1.5%;">Male</li>
              <li style="margin-left: -1.5%;">
                <input
                  class="gender"
                  type="radio"
                  name="gender"
                  value="female"
                  style="width: unset; float: left"
                />
              </li>
              <li style="margin-left: -1.5%;">Female</li>
              <li style="margin-left: -1.5%;">
                <input
                  class="gender"
                  type="radio"
                  name="gender"
                  value="other"
                  style="width: unset; float: left"
                />
              </li>
              <li style="margin-left: -1.5%;">Other</li>
            </ul>
            <p class="warning">Regristration on VTOP is compulsory for your application to be considered.</p>
            <button
              style="
                z-index: 100;
                border: none;
                height: 100%;
                width: 100%;
                background-color: #faa41a;
                color: #333333;
                padding: 10px 13px 10px 13px;
                width: 180px;
                margin: auto;
                border-radius: 100px;
              "
              onclick="formValidate();"
            >
              Submit
            </button>
          </form>
          <br />
        </div>
      </div>
      <div
        class="g-recaptcha"
        data-sitekey="6Leu6n8UAAAAAE33Fo9VhAe4f3QJ7YRrU7L63194"
        data-size="invisible"
        data-callback="setResponse"
      ></div>
    </div>
    <p class="warning">Join our discord server for Updates and results.</p>
    <p class="warning"> <span style="color:#faa41a">Link: </span> <a href="https://discord.gg/cr87yvuqbr"> https://discord.gg/cr87yvuqbr</a></p>
    <script
      src="https://www.google.com/recaptcha/api.js?onload=onloadCallback"
      async
      defer
    ></script>
    <script>
      var onloadCallback = function () {
        grecaptcha.execute();
      };
      function setResponse(response) {
        document.querySelector(".g-recaptcha-response").value = response;
        console.log(document.querySelector(".g-recaptcha-response").value);
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
      function formValidate(){
        var regno = document.getElementsByName('regno')[0].value.trim();
        var name = document.getElementsByName('name')[0].value.trim();
        var phone = document.getElementsByName('phone')[0].value.trim();
        // var pwd1=document.getElementById('pwd-reg-2').value.trim();
        // var pwd2=document.getElementById('pwd-reg-repeat-2').value.trim();
        var message = undefined;
        var nameRegex = new RegExp(/^[a-zA-Z][a-zA-Z\s]+[a-zA-Z]$/);
        if (!nameRegex.test(name)) {
          message = message || "Name Should Only Consist of Letters!";
        }
        var regNoRegex = new RegExp(/^[0-9]{2}[A-Z]{3}[0-9]{4}$/);        
        if (!regNoRegex.test(regno)) {
          message = message || "Invalid Reg No.";
        } 
        // if(pwd1.length < 8 || !new RegExp(/[A-Z]+/).test(pwd1) || !new RegExp(/[a-z]+/).test(pwd1) || !new RegExp(/\W/).test(pwd1) || !new RegExp(/[0-9]+/).test(pwd1)) {
        //   message = message || "Password Not Strong Enough! Must contain One Digit, LowerCase, UpperCase and Special Character and at least of length 8";
        // }
        // if(pwd1 !== pwd2){
        //   message = message || "Passwords Do Not Match";
        // }
        var phoneRegex = new RegExp("[1-9]{1}[0-9]{9}");
        console.log("check:", phoneRegex.test(phone));
        if (!phoneRegex.test(phone)) {
          message = message || "Phone number format invalid";
        }
        if (message === undefined){
          return true;
        }
        Swal.fire({
          icon: "error",
          title: "Oops",
          text: message,
        });
        return false;
      }
      function check() {
        if ("<%=message%>") {
          if ("<%=message%>" != "ok") {
            Swal.fire("Oops!", "<%= message %>", "error");
          } else {
            Swal.fire(
              "Successfully Registered",
              "One Step Closer!!",
              "success"
            );
          }
        }
      }
    </script>
  </body>
</html>
