<!DOCTYPE html>
<html lang="en">

<head>
    <title>Thank you for participating</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/domain.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet" />
    <style>
        .container3 {
            position: absolute !important;
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
        }
    </style>
</head>

<body class="colour1">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col12 top">
                <img src="images/ieeecs.png" alt="logo" class="logo" />
            </div>
        </div>
        <div class="container3">
            <div class="row" style="text-align: center;">
                <img src="images/Capture.png" alt="logo2" class="logo2" />
            </div>
            <div class="row" style="text-align: center;">
                <h2>Thank you</h2>
                <p class="th">Hope to see you for the next phase</p>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>