html {
  font-family: "Poppins", sans-serif;
  list-style: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #faa41a;
  
}
/* @keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
} */
body{
background-image: url('../images/line_pattern.png');
background-position: 0px 0px;
background-repeat: repeat-x;
background-repeat: repeat-y;
animation: animatedBackground 30s linear infinite;
}


.custom-logo {
  width: 35%;
  /* margin: 0.2em; */
  margin: 2%;
  padding-top: 2px;
}

.nav-extended {
  background-color: #202020;
}

.indicator {
  background-color: #faa41a;
}

.tabs.tabs-transparent .indicator {
  background-color: #faa41a;
}

.tabs.tabs-transparent .tab a.active {
  font-weight: 600;
}

/*  */
/*  */
/*  */

body {
  background-color: #2c2c2c;
  color: white;
}

.box {
  margin-top: 5em;
  margin: 5em 5%;
  padding: 1.5em 3%;
  color: black;
  background-color: #f7f7f7;
  border-radius: 3px;
  /* overflow-y: visible; */
  /* height: 100vh; */
  -webkit-box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.55);
}

.q {
  font-weight: 600;
  letter-spacing: 0.5px;
  white-space: pre-line;
}

.watch {
  background-color: #f7f7f7;
  color: red;
  font-weight: 500;
  padding: 5px;
  border-radius: 2px;
}

.repeated {
  margin: 2em 0em;
}

textarea:focus:not([readonly]) {
  border-bottom: 1px solid #faa41a !important;
  box-shadow: 0 1px 0 0 #faa41a !important;
}

.custom-sidenav {
  background-color: #202020;
}

.mobile-logo {
  padding: 1em 0 0 0;
}

.sidenav li > a:hover {
  background-color: #2c2c2c;
  /* color: #FAA41A !important; */
}

.snl:hover {
  background-color: #2c2c2c;
  /* color: #FAA41A; */
  font-weight: 600;
  transition: 0.4s;
}

#cover {
  background: url("/images/load.svg") no-repeat scroll center center #202020;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
}
.swal2-timer-progress-bar
{
  background-color: #FAA41A;
}
/* .swal2-timer-progress-bar-container
{
  width: 20%;
} */

.pc-submit {
  color: white;
  background-color: #faa41a;
  padding: 8px;
  margin: 10px;
  border: 0px;
  border-radius: 5px;
}
input, textarea,button{
  outline: none !important;
}
input:focus{
  text-decoration: none !important;
}

.pc-submit:hover {
  color: #faa41a !important;
  background-color: white !important;
}

.pc-submit:active {
  color: #faa41a !important;
  background-color: white !important;
}

.mobile {
  display: none;
}
.reset {
  padding: 0px;
  margin: 0px;
}
.main-content {
  margin-top: 25px;
}
.right-nav-item {
  position: absolute;
  right: 8.5%;
  top: 0px;
}
.user-icon {
  color: #faa41a;
  margin-right: 10px;
}
.username {
  color: #faa41a;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  
}
.main-content {
  margin-left: 20px;
  margin-right: 20px;
  /* border: 2px solid red; */
}
.first-content-container {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
}
.domain-option {
  width: 70%;
  height: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-right: 10px;
  background: #202020;
  border: 2px solid #faa41a;
  border-radius: 20px;
  box-shadow: 3px 3px 7px black;
}
.clock {
  margin-left: 10px;
  border: 2px solid #faa41a;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-radius: 20px;
  color: #faa41a;
  box-shadow: 3px 3px 7px black;
}
.domain-name {
  padding: 0px;
  /* border: 2px solid #faa41a; */
  /* border-radius: 20px; */
  width: 25%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #faa41a;
  /* border-radius:20px; */
  
}
.border-left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.border-right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.domain-name {
  font-size: 1.2vw;
  font-family: 'Montserrat', sans-serif;
}
.timer {
  font-size: 25px;
  min-width: 124px;
}
.time {
  margin-left: 1.2vw;
  font-family: 'Montserrat', sans-serif;
}
.border-1 {
  border-right: 2px solid #faa41a;
}
.border-2 {
  border-right: none;
}
.second-content-container {
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.question-area {
  width: 70%;
  height: 30vw;
  border: 2px solid #faa41a;
  border-radius: 20px;
  margin-right: 10px;
  background-color: #202020;
  box-shadow: 5px 5px 10px black;
  /* display: flex;
  align-items: center; */
}
.question-navigation {
  width: 30%;
  border: 2px solid #faa41a;
  border-radius: 20px;
  background-color: #202020;
  margin-left: 10px;
  box-shadow: 5px 5px 10px black;
  
}
.actual-question {
  width: 80%;
  height: 80%;
  margin-left: 20px;
  margin-top: 20px;
  /* border: 2px solid red; */
}
.question-txt {
  font-size: 2.25vw;
  margin-bottom: 20px;
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  /* border: 2px solid white; */
}
.option-container {
  height: 80%;
  /* border: 2px solid blue; */
}
/* ***************** */
.input-field-style
{
  color: #F7F7F7; 
  /* border-bottom: 1px solid #FAA41A; 
  box-shadow: 0 1px 0 0 #FAA41A; */
}
.input-field-style:focus
{ 
  border-bottom: 1px solid #FAA41A !important; 
  box-shadow: 0 1px 0 0 #FAA41A !important;
}

.long-input-field-style
{
  color: #F7F7F7;
  border: solid 2px #FAA41A;
  border-radius: 20px;
  padding: 2% 2% 2% 2%;
  background-color: #444;
  min-height: 70%;
  margin: auto;
  resize: none;
}

.checkbox-style[type="checkbox"].filled-in:checked + span:not(.lever):after 
{
    border: 2px solid #FAA41A;  
    background-color: #FAA41A;
}

.ongoing {
  color: #202020;
  background-color: #faa41a;
}
.not-selected {
  background-color: grey;
  color: #202020;
  cursor: not-allowed;
}
/* **************** */
.option {
  font-size: 30px;
}
.option-txt {
  color: #f7f7f7;
  line-height: 10px;
  font-family: 'Montserrat', sans-serif;
  /* font-size: 100px; */
}
[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
  font-size: 1rem;
}
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
  background-color: #faa41a;
}
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
  border: none !important;
}
.button-content {
  margin-top: 40px;
  /* border: 2px solid red; */
}
.button-container {
  /* margin-top: 20px; */
  align-items: center;
  position: relative;
  bottom: 20px;
  /* border: 2px solid blue; */
}
.btn-def {
  background: transparent;
  border: transparent;
  /* color: #202020; */
  font-size: 15px;
  width: 130px;
  height: 45px;
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0px;
  /* margin: 0px auto; */
}
.row .col {
  padding: 0px;
  margin: 0px;
}
.col {
  /* border: 2px dashed white; */
}
.quiz-nav-btn {
  margin: 0px 10px;
}
.btn-quiz {
  background-color: #faa41a;
  /* color: #202020; */
}
.btn-submit {
  background-color: #444444;
  color: #faa41a;
  transition: 0.2s all ease-in-out;
  min-width: 150px;
}
.btn-submit:hover {
  background-color: #faa41a;
  color: #202020;
}
ul li {
  float: left;
}
.nav-container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.btn-nav {
  display: inline;
  background: transparent;
  height: 4vw;
  width: 4vw;
  border: 2px solid #faa41a;
  margin: 15px;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #faa41a;
  font-size: 1.6vw;
  cursor: pointer;
}
/* ****************** */
.attempted {
  background-image: linear-gradient(#faa41a, green);
  color: #202020;
}
.skipped {
  background-image: linear-gradient(#faa41a, red);
  color: #202020;
}
.ongoing {
  background-color: #faa41a;
  color: #202020;
}
/* ****************** */
button:focus {
  background-color: #ffa41a;
  color: #202020;
}

textarea {
  height: 100%;
  width: 105%;
}
.long-input-field-style {
  padding: 15px;
}
/* .custom-sidenav li {
    color: white;
} */

/* .modal-text {
    color: black !important;
} */

/* for testing */
/* .active {
    background-color: #FAA41A;
} */

/* .carousel.carousel-slider .carousel-item { */
/* min-height: 1000vh; */
/* min-height: calc(75vh*10); */
/* set min height to the probable amout of extended text areas totaled with all the 10 questions */
/* 
@media only screen and (max-width: 993px) {
  .brand-logo {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .brand-logo {
    display: block !important;
  }
} */

@media only screen and (max-width: 1024px) {
  .mobile {
    display: block;
  }
  .pc-submit {
    display: none;
  }
  .mobile-submit {
    color: white;
    background-color: #faa41a;
    padding: 12px;
    border: 0px;
    border-radius: 5px;
  }
  .mobile-submit:hover {
    color: white !important;
    background-color: #faa41a !important;
  }
  .mobile-submit:active {
    color: white;
    background-color: #faa41a;
  }
  .button-pos {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
  }
}

/* Media Queries */
@media all and (min-width:910px) {
  .mobile-domain-option {
    display: none;
  }
}
@media all and (max-width:910px) {
  .domain-option {
    width:0px;
    display:none;
  }
  .clock {
    width: 100px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
  }
  .time, .timer {
    margin-left: 4px !important;
    margin: 0px;
    font-size: 20px;
  }
  .second-content-container {
    width: 90vw;
    margin: 0px auto;
    margin-top: 10px;
  }
  .question-area {
    width: 90%;
    height: 60vh;
    margin: 0px auto;
  }
  .question-navigation {
    width: 0px;
    display: none;
  }
  .question-txt {
    font-size: 1.5em;
  }
  [type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
    font-size: 0.5em;
  }
  .mobile-domain-option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 35px;
    width: 200px;
    /* min-width: 100px; */
    /* min-height: 50px; */
    margin: 0px auto;
    background-color: #faa41a;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
  }
  .main-content {
    margin-top: 20px;
  }
  .button-container {
    /* border: 2px solid red; */
    position: relative;
    bottom: 35px;
  }
}

@media all and(max-width:993px) {
  .btn-submit {
    margin-top: 40px;
  }
}

@media all and (max-width:600px) {
  .question-txt {
    font-size: 17px;
  }
  [type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
    font-size: 12px;
  }
  /* [type="radio"] + span:before, [type="radio"] + span:after {
    height: 12px;
    width: 12px;
  } */
  .option {
    font-size: 20px;
  }
  .user-icon, .username {
    font-size: 15px;
  }
}

@media all and (max-width:610px) {
  .nav-extended {
    height: 60px !important;
  }
  .custom-logo {
    padding-top: 0px;
  }
}
@media all and (max-width:400px) {
  .nav-extended {
    height: 15vw !important;
  }
}

.hidden {
  display: none;
}